.header {
  position: relative;
}

.header__photo {
  position: absolute;
  height: calc(3.5 * var(--space));
  width: auto;
  border: 0.5rem solid var(--white);
  box-shadow: 0 0 0.5rem -0.25rem rgba(0 0 0 / 60%);
  transform: rotate(-5deg) translate(-1rem, -2rem);
}