.nav {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline;
  margin: 0 0 0 1rem;
}

.nav a {
  color: var(--bg);
}

.nav button,
.nav .button {
  padding: 0.5rem;
  border: unset;
  border-bottom: 2px solid var(--grey);
  background-color: unset;
  font-family: var(--font-heading);
  color: var(--fg);
  font-size: 1rem;
  line-height: 1rem;
}

.nav .button:hover,
.nav button:hover,
.nav button:active {
  cursor: pointer;
  border-bottom-color: var(--color);
}

@media screen and (min-width:601px) {
  .nav {
    display: block;
  }
}