* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

:root {
  --base: 18px;
  --width: 53.333rem;
  --font-heading: "Merriweather", serif;
  --font-body: "Muli", sans-serif;
  --font-weight: 300;
  --font-bold: 700;
  --grid-gap: 1.5rem;
  --white: #fff;
  --bg: var(--white);
  --fg: var(--dark);
  --blue: #2d58b5;
  --red: #f43914;
  --yellow: #f9c50e;
  --grey: #c8c8c8;
  --light: #ffecdc;
  --dark: #18111d;
  font-size: var(--base);
}

body {
  font-family: var(--font-body);
  font-weight: var(--font-weight);
  color: var(--fg);
  line-height: 1.65;
  background-color: var(--bg);
}

p {
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--font-heading);
  font-weight: var(--font-bold);
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text_small, small {
  font-size: 0.8rem;
}

a,
a:active,
a:visited {
  position: relative;
  display: inline-block;
  color: currentColor;
  text-decoration: none;
}

a:not(.skip-link-styles):before {
  position: absolute;
  bottom: 2px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--grey);
  content: "";
}

a:hover:before {
  background-color: var(--color, var(--blue));
}

.contain-width {
  margin: 0 auto;
  max-width: var(--width);
}

.blue {
  --color: var(--blue);
}

.red {
  --color: var(--red);
}

.yellow {
  --color: var(--yellow);
}

.grey {
  --color: var(--grey);
}

.dark {
  --color: var(--dark);
}

.site {
  display: flex;
  flex-direction: column;
}

.site__section {
  margin-top: 7.5rem;
}

.site__section__heading {
  position: relative;
  padding-bottom: 1rem;
}

.site__section__heading:before {
  position: absolute;
  bottom: .5rem;
  display: block;
  width: 1ch;
  height: 2px;
  background-color: var(--color, var(--blue));
  content: "";
}
