* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

:root {
  --base: 18px;
  --width: 53.333rem;
  --font-heading: "Sedgwick Ave", serif;
  --font-body: "Assistant", sans-serif;
  --font-weight: 300;
  --font-bold: 700;
  --grid-gap: 1.5rem;
  --white: #fff;
  --bg: var(--white);
  --fg: var(--dark);
  --blue: #2d58b5;
  --red: #f43914;
  --yellow: #f9c50e;
  --grey: #c8c8c8;
  --light: #ffecdc;
  --dark: #18111d;
  font-size: var(--base);
}

body {
  font-family: var(--font-body);
  font-weight: var(--font-weight);
  color: var(--fg);
  line-height: 1.65;
  background-color: var(--bg);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

p {
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--font-heading);
  font-weight: var(--font-weight);
  line-height: 1.15;
  transform: rotate(-1deg);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text_small, small {
  font-size: 0.8rem;
}

a,
a:active,
a:visited {
  position: relative;
  display: inline-block;
  color: currentColor;
  text-decoration: none;
}

a:not(.skip-link-styles):before {
  position: absolute;
  bottom: 2px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--grey);
  content: "";
}

a:hover:before {
  background-color: var(--color, var(--blue));
}

.contain-width {
  margin: 0 auto;
  max-width: var(--width);
}

.blue {
  --color: var(--blue);
}

.red {
  --color: var(--red);
}

.yellow {
  --color: var(--yellow);
}

.grey {
  --color: var(--grey);
}

.dark {
  --color: var(--dark);
}

.site {
  display: flex;
  width: calc(6rem + var(--width));
  max-width: 90vw;
  margin: 0 auto 3.75rem;
  flex-direction: column;
  background-color: var(--bg);
  background-image: linear-gradient(
    to right, 
    rgba(0 0 0 / 0%) 25%,
    rgba(0 0 0 / 2.5%) 50%,
    rgba(0 0 0 / 0%) 50%,
    rgba(0 0 0 / 10%) 100%
  );
  background-size: 100% auto;
  background-repeat: repeat;
}

.site__section {
  position: relative;
  margin-top: 7.5rem;
}

.site__section:not(:last-of-type)::after,
.site__section:not(:first-of-type)::before {
  --width: 53.333rem;
  --direction: to top;
  position: absolute;
  top: calc(100% + 3.75rem);
  left: 50%;
  display: block;
  height: 3.75rem;
  width: calc((6rem + var(--width)) / 2);
  max-width: 90vw;
  content: '';
  background-image: linear-gradient(
    var(--direction), 
    rgba(0 0 0 / 0%) 0%,
    rgba(0 0 0 / 2.5%) 100%
  );
  background-size: cover;
}


.site__section:not(:first-of-type)::before {
  top: -3.75rem;
  right: 50%;
  left: auto;
  background-image: linear-gradient(
    var(--direction), 
    rgba(0 0 0 / 0%) 0%,
    rgba(0 0 0 / 1%) 100%
  );
}

.site__section::after {
  --direction: to bottom;
}

.site__section__heading {
  position: relative;
  padding-bottom: 1rem;
}

.site__section__heading:before {
  position: absolute;
  bottom: .5rem;
  display: block;
  width: 1ch;
  height: 2px;
  background-color: var(--color, var(--blue));
  content: "";
  transform: rotate(-2deg);
}

.has-bg {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
